# mappings for making up and down arrow searching through history
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char

set show-all-if-ambiguous on
set completion-ignore-case on

#Use tab to cycle through all the possible completions.
#"\t": menu-complete
